<app-header/>
<!-- <app-header></app-header> -->

<main>
  <!-- <ul id="users">
    @for (item of users; track item.id) {
      <li>
        <app-user [user]="item" (select)="onSelectUser($event)"/>
      </li>
    }
  </ul>

  <app-tasks [name]=" selectedUser ? selectedUser.name : ''"/> -->

  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks!</p>
  }
</main>


<!-- <app-user></app-user> -->


<!-- <header>
  <img src="assets/images/angular-icon.png" [alt]="">
  <h1>Let's get started!</h1>
  <p>Your measurement details at a go!</p>
</header> -->